@import url('./preflight.css');
@import url('./fonts.css');
@import url('./icon-fonts.css');
@import url('./helpers.css');

body {
  overflow-x: hidden;
}

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: normal;

  color: #F7F7F7;
  background: #0A0A0A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --card-gap: 4px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4.25rem;
  line-height: 1.22;
  font-weight: 500;
  font-family: 'Gilmer';
}

h2 {
  font-size: 3.5rem;
  font-family: 'Gilmer';
  color: #EAC666;
}

h3 {
  font-size: 2rem;
  font-family: 'Gilmer';
}

.text-highlight {
  color: #EAC666;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* navigation */
.container {
  width: 100%;
  min-height: 100vh;
  
  margin: 0 auto;
  
  position: relative;
}

@media (min-width: 1281px) {
  .container {
    max-width: 1920px;
    padding: 0 190px;
  }
}

@media (min-width: 1281px) and (max-width: 1400px) {
  .container {
    /* max-width: 1920px; */
    padding: 0 120px 0 30px;
  }
}


@media (max-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 36px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 36px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 40px 0 0 0;
  position: relative;
  z-index: 1;
}

.nav__column {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav__logo {
  width: 128px;
  height: auto;
  margin: 0 60px 0 0;
}

.nav__line {
  width: 1px;
  height: 32px;
  /* 34px in design */
  background: #2D2D2D;
  margin: 0 0 0 32px;
  /* ugly hack due to button */
}

.nav__menu {
  width: 36px;
  height: 19px;
  position: absolute;
  top: 28px;
  right: -80px;
  background: linear-gradient(to right, #fff 100%, transparent 75%);
  background-size: 75% 1px;
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
}
.nav__menu:hover:before,
.nav__menu:hover:after {
  background: #EAC666;
}
.nav__menu:before,
.nav__menu:after {
  transition: background 0.2s ease;
}
.nav__menu:before {
  content: '';
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
}
.nav__menu:after {
  content: '';
  width: 50%;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* selectbox */
.picker {
  width: auto;
  height: 48px;
  padding: 0 48px 0 16px;
  background-color: #0a0a0a;
  background-image: url('/icon-gate-down.svg');
  background-repeat: no-repeat;
  background-position-x: calc(100% - 16px);
  background-position-y: center;
  border: 1px solid #303030;
  border-radius: 9999px;
  font-size: 14px;
}

.picker--lg {
  width: 276px;
}

.backstage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}


@media (min-height: 720px) {
  .section--hero .section__content {
    position: absolute;
    width: 100%;
    bottom: 25vh;
  }
}

.section__cta {
  margin: 72px 0 0 0;
}

.section--hero .backstage {
  z-index: -1;
}

.section--hero h1 {
  font-size: 3vw;
}

.section__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.backstage__title {
  color: #000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #766433;
  font-family: 'Gilmer';
  font-weight: 500;
  font-size: 330px;
  height: 400px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -8vw;
  text-wrap: no-wrap;
  /* opacity: 0; */
  /* animation: animation-backstage-title 1.5s forwards; */
}

@media (max-width: 1600px) {
  .backstage__title {
    top: 40px;
    font-size: 250px;
  }
}

.backstage__image {
  position: absolute;
  top: -375px;
  width: 858px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  animation: animation-backstage-image 1.3s forwards cubic-bezier(0.28, 1.03, 1, 1);
  animation-delay: 1.5s;
}

/* backdrop shadow workaroud for the image with alpha channel included */
.backstage__image::after {
  content: '';
  background: #0A0A0A;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 1) 10%, rgba(10, 10, 10, 1) 89%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 858px;
  height: 100%;
  z-index: -10;
}

@keyframes animation-backstage-image {
  0% {
    opacity: 0;
    top: -300px;
  }

  25% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

.button {
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 500;
  padding: 0 48px;
  text-align: center;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  background: #B87C1D;
  background: linear-gradient(223deg, rgba(184, 124, 29, 1) 0%, rgba(234, 198, 102, 1) 45%, rgba(234, 198, 102, 1) 100%);
  border-radius: 999px;
  color: #0A0A0A;
  transition: color 0.2s ease-in;
  border: 1px solid transparent;
}

.button:hover {
  color: #000;
  border: 1px solid #fff;
}

.button .icon {
  font-size: 20px;
  padding: 0 8px 0 0;
  position: relative;
  top: 2px;
}

.button--link {
  background: transparent;
  color: #EAC666;
  padding: 0 24px;
}

.button--link:hover {
  background: #000;
  color: #fff;
}

.ticker {
  padding: 0 0 0 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ticker__title {
  font-size: 12px;
}

.ticker__price {
  font-size: 14px;
  color: #fff;
}

.ticker__icon {
  font-size: 24px;
  position: absolute;
  left: -4px;
  top: 0;
}

.ticker--gold,
.ticker--gold .ticker__icon {
  color: #EAC666;
}

.ticker--silver,
.ticker--silver .ticker__icon {
  color: #BCBCBC;
}

.formula-stage {
  position: absolute;
  left: -430px;
  top: 280px;
}

#formula-stage-car {
  animation: animation-formula-car 1.6s forwards cubic-bezier(0.26, 1.04, 1, 1);
}

@keyframes animation-formula-car {
  0% {
    opacity: 0.2;
    transform: translate(-100%, 10px) scale(0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}


#formula-stage-car .formula-fill {
  animation: animation-formula-car-fill 2.6s forwards cubic-bezier(0.26, 1.04, 1, 1);
}

@keyframes animation-formula-car-fill {
  0% {
    fill: #fff;
  }

  100% {
    fill: #000;
  }
}

.nav,
.section__cta,
.section-scroll-indicator {
  opacity: 0;
  animation: animation-initial-reveal 1.8s forwards cubic-bezier(0.26, 1.04, 1, 1);
}

.nav {
  animation-delay: 2s;
}

.section__cta {
  animation-delay: 2.5s;
}

.section-scroll-indicator {
  position: absolute;
  width: 100%;
  bottom: -30px;
  animation-delay: 2.5s;
}

@keyframes animation-initial-reveal {
  0% {
    transform: translate(0, -25%);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes animation-coins-reveal {
  0% {
    transform: rotate(-12deg) scale(0);
    filter: blur(42px);
    opacity: 0;
  }

  100% {
    transform: rotate(0) scale(1);
    filter: none;
    opacity: 1;
  }
}

.figure-coins {
  max-width: 30vw;
}

.figure-coins__inner {
  display: flex;
  align-items: end;
  animation: animation-coins-reveal 0.95s forwards cubic-bezier(0.26, 1.04, 1, 1);
  opacity: 0;
  animation-delay: 1.4s;
}

.figure-coins picture:first-child {
  position: relative;
  left: 120px;
  z-index: 1;
}

.section--promo h2 {
  text-align: center;
}

.section--promo h2>span {
  font-size: 1.5rem;
  color: #F7F7F7;
  display: block;
}

.section-viewport {
  position: relative;
  min-height: 100vh;
}
.scroll-indicator {
  width: 18.2px;
  height: 260px;
  background: url(/scroll-indicator.svg) no-repeat;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 0px;
  margin: 64px 0;
}

.card {
  background: #000;
  border: 1px solid #1D1D1D;
  padding: 48px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card p {
  line-height: 2rem;
}

.card__cta {
  margin-top: 32px;
}

.card__image {
  margin-bottom: 16px;
}

.stepper-wrapper {
  width: 100px;
  position: fixed;
  top: 25vh;
  right: -45px;
}
@media (max-width: 1400px) {
  .stepper-wrapper {
    display: none;
  }
}

.stepper {
  position: relative;
  /* padding-left: 45px; */
  list-style: none;
  width: 60px;
  height: 60vh;
}
.stepper:before,
.stepper:after {
  content:'';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 1px;
  height: 100%;
}
.stepper:before {
  background: #777;
}
.stepper:after {
  background: #EAC666;
  z-index: 1;
  height: 30px;
}

.stepper__item {
  position:relative;
  background: red;
}
.stepper__item:after{
  content: '';
  position: absolute;
  right: 26px;
  border-radius: 999px;
  /* transform: translateX(-50%); */
  width: 8px;
  height: 8px;
  /* border: 1px solid #EAC666; */
  background: #EAC666;
}

.stepper__label {
  display: block;
  font-size: 12px;
  color: #777;
  position: absolute;
  top: -5px;
  left: auto;
  right: 60px;
  width: 50px;
  text-align: right;
}
